.home {
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.8)
    ),
    url("./media/background/IMG_7159.JPG");

  background-size: cover;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;
}

.tenKField {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Basic controller live demo */

.video {
  grid-column: 2/ 16;
  grid-row: 2/7;
  align-content: space-around;
  object-fit: cover;
  width: 100%;
  height: 480px;
}

.video img {
  display: block;
  width: 100%;
  height: auto;
}

.welcome {
  grid-column: 17/ 24;
  grid-row: 1/2;
}

.directControl {
  grid-column: 17/ 27;
  grid-row: 2/4;
  border: 2px solid rgb(99, 120, 196);

  border-radius: 10px;
}

.buildEvent {
  grid-column: 17/ 27;
  grid-row: 5/7;
  border: 2px solid rgb(99, 120, 196);

  border-radius: 10px;
}

.serverStatusMonitor {
  grid-column: 28/ 35;
  grid-row: 2/7;
  border: 2px solid rgb(99, 120, 196);

  border-radius: 10px;
}

/* CreateMapping */

.googleMap {
  grid-column: 5 / 20;
  grid-row: 1/4;
}

.iconMenu {
  grid-column: 26 / 37;
  grid-row: 1 / 5;
}

.addLamp {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  box-sizing: content-box;
  width: 100%;
  height: 600px;
  border: 2px solid rgb(99, 120, 196);
  margin-left: 10px;
  border-radius: 10px;
  float: left;
}

.addLampContainer {
  grid-column: 1 / 4;
  grid-row: 1/12;
}

.mapOps {
  box-sizing: content-box;
  width: 100%;
  height: 200px;
  border: 2px solid rgb(99, 120, 196);

  border-radius: 10px;
  float: left;
}

.mapManager {
  grid-column: 14 / 23;
  grid-row: 4 / 5;
}

.legenda {
  box-sizing: content-box;
  width: 100%;
  height: 200px;
  border: 2px solid rgb(99, 120, 196);

  border-radius: 10px;
  float: left;
}

.legendaContainer {
  grid-column: 2 / 12;
  grid-row: 4 / 5;
}

.enhancedTable {
  height: 300px;
  padding-top: 4%;

  display: flex;
  justify-content: center;
}

.enhancedTableContainer {
  grid-column: 20 / 36;
  grid-row: 3 / 5;
}

.about {
  padding-bottom: 200px;
}

.contactData {
  grid-column: 12 / 24;
  grid-row: 1 / 3;
  padding-bottom: 240px;
}

.registered {
  grid-column: 5 / 19;
  grid-row: 1 / 7;
  box-sizing: content-box;
  width: 40%;
  height: 250px;
  border: 2px solid rgb(99, 120, 196);

  border-radius: 10px;
  float: left;
  margin-bottom: 560px;
}

.notRegistered {
  grid-column: 13 / 33;
  grid-row: 1 / 7;
  box-sizing: content-box;
  width: 40%;
  height: 600px;
  border: 2px solid rgb(99, 120, 196);
  margin-bottom: 560px;
  border-radius: 10px;
  float: left;
}

.textField {
  padding-bottom: 1%;
}

.videoQuestionMark {
  grid-column: 2;

  bottom: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
